@import "reset.css";
@import "preloader.css";

body {
    height: 100%;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.calc {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    border: 3px solid #a97dd9;
    border-radius: 5px;
}

.input_field {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 26px;
    text-align: right;
    font-family: 'Titillium Web', sans-serif;
}

.input_field:focus {
    outline: none;
}

.buttons_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 98px;
    height: 50px;
    font-size: 18px;
    margin: 1px;
    border-radius: 3px;
    background-color: #f9f2ff;
    transition: all 0.3s;
    color: #1e1e1e;
}

.btn:hover {
    background-color: #e8e3ee;
}

.btn:focus {
    outline: none;
}


.btn-equal {
    width: 199px;
    background-color: #bae2eb;
}

.btn-equal:hover {
    background-color: #c9ecf5;
}

.btn-clear {
    background-color: #f0605c;
    color: #fff;
}

.btn-clear:hover {
    background-color: #ff726e;
}